List Examples

##### Lists are Variables

In [8]:
name_0 = "Sarah"
name_1 = "Arjun"
name_2 = "Zhang"
print(name_0, name_1, name_2)

Sarah Arjun Zhang

In [9]:
# "equivalently" 3 values stored as a _single_ list variable
names = ["Sarah", "Arjun", "Zhang"]
print(names[0], names[1], names[2])

Sarah Arjun Zhang

In [10]:
print(names)

['Sarah', 'Arjun', 'Zhang']

##### List Operations and Methods

In [26]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

In [27]:
list_a = ['jack', 'diane']
list_b = ['peiming', 'weiqun']
print(list_a, list_b)

['jack', 'diane'] ['peiming', 'weiqun']

In [28]:
list_c = list_a+list_b
print(list_c)

['jack', 'diane', 'peiming', 'weiqun']

In [29]:
list_mult = list_b *3
print(list_mult)

['peiming', 'weiqun', 'peiming', 'weiqun', 'peiming', 'weiqun']

In [30]:
s = ['a', 'b', 'c', 'd'] 
s.insert(2, 'y')

In [31]:
print(s)

['a', 'b', 'y', 'c', 'd']

In [33]:
s.remove('c')

ValueError: list.remove(x): x not in list

In [34]:
print(s)

['a', 'b', 'y', 'd']

In [41]:
# Demonstrate List Methods mutate (change) and return None

s = ['a', 'b', 'c', 'd']  # A sample list

# Add value to end of list
s.append('x')  # add 'x' at end

# Check our work
s

['a', 'b', 'c', 'd', 'x']

In [53]:
# Change a string using a string method
name = "matt"
result = name.upper()

# Returns None (no) value
print(result)

## vs.

MATT

In [54]:
# Add value to end of list store in result variable 
result = s.append('x')  # add 'x' at end

# Returns None (no) value
print(result)

None

In [56]:
# With lists, each list created is a different object!
list_a = [1,2,3]  # `a` labels a new list [1,2,3]
list_b = [1,2,3]  # `b` labels a new list [1,2,3]

list_a == list_b  # True, have same values as contents

True

In [58]:
list_a is list_b  # False, are two different objects

False

In [59]:
list_c = list_a  # `c` labels the value that `a` labels
list_a is list_c  # True, both are the same object

True

In [60]:
# Modify the list!
list_a[0] = 10
print(list_b[0])  # 1 (a different list)
print(list_c[0])  # 10 (the same list)

1
10

In [67]:
def delete_first(a_list):
    a_list = a_list[1:]  # creates new local var (!!w/in function only)
    #print(a_list) #see the difference?
    
letters = ['a','b','c']
delete_first(letters)
print(letters) #=> ['a', 'b', 'c']

['b', 'c']
['a', 'b', 'c']

#### Loops and Lists

In [68]:
numbers = [3.98, 8, 10.8, 3.27, 5.21]

for element in numbers:  # number is a better local var name
    print(element)

3.98
8
10.8
3.27
5.21

In [69]:
#vs
print(numbers)

[3.98, 8, 10.8, 3.27, 5.21]

#### Nested Lists

In [71]:
# a simple table of values
table = [ ['aa','ab','ac','ad'],
          ['ba','bb','bc','bd'],
          ['ca','cb','cc','cd'] ]

In [72]:
table

[['aa', 'ab', 'ac', 'ad'], ['ba', 'bb', 'bc', 'bd'], ['ca', 'cb', 'cc', 'cd']]

In [73]:
##I want to "get" the thing: bd

row = 1  # cells starting with 'b'
col = 3  # cells ending with 'd'
#table[1]st item and then [3]rd item within 1st
table[row][col]  # "bd", the cell at row/col

'bd'

In [75]:
for row in range(len(table)):  # for each row (or for i in range...)
    for col in range(len(table[row])):  # for each col of that row (or for j in...)
        print(table[row][col], end = ',')  # access ith row, jth column

aa,ab,ac,ad,ba,bb,bc,bd,ca,cb,cc,cd,