# Recall/Review

## For Loops
Definite Iteration

In [4]:
#Loop over numbers
for number in range(10): 
    print(number, end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [9]:
#Loop over strings

#Generate a list of words
quote = "Nobody wins unless everybody wins."
words = quote.split()
print(words)

#Loop over each word and print it
for word in words: 
    print(word)

['Nobody', 'wins', 'unless', 'everybody', 'wins.']
Nobody
wins
unless
everybody
wins.

## Lists

In [10]:
letters = ["a", "b", "c"]
numbers = [1, 2, 2, 3, 5, 8]
things = ["raindrops", 2, True, [5, 9, 8]]
empty = []

In [11]:
letters

['a', 'b', 'c']

In [12]:
numbers

[1, 2, 2, 3, 5, 8]

In [13]:
things

['raindrops', 2, True, [5, 9, 8]]

In [14]:
# access using [] notation
print( letters[1] )  # "b"
print( things[3][2] )  # 8

b
8

In [15]:
# assign using [] notation
letters[0] = 'z';
print( letters )  # ['z', 'b', 'c']

['z', 'b', 'c']

In [16]:
# don't assign out of bounds!
numbers[len(numbers)] = 13  # IndexError!

IndexError: list assignment index out of range

In [21]:
# List Slicing
#indices 1 to (1 from end) (non-inclusive)
numbers[1:-1]

[2, 2, 3, 5]

In [24]:
#List Mutation
# a list of school supplies
school_supplies = ["Backpack", "Laptop", "Pen"]
school_supplies

['Backpack', 'Laptop', 'Pen']

In [23]:
# replace "Pen" with "Pencil"
school_supplies[2] = "Pencil"

print(school_supplies)  # ['Backpack', 'Laptop', 'Pencil']

['Backpack', 'Laptop', 'Pencil']

## Lists and Loops

In [34]:
numbers_list = [3.98, 8, 10.8, 3.27, 5.21]
print("original list: ", numbers_list)

# Can now modify the list
for i in range(len(numbers_list)):
    # change value at index to rounded version
    numbers_list[i] = round(numbers_list[i], 1)

print("mutated list:  ", numbers_list)

original list:  [3.98, 8, 10.8, 3.27, 5.21]
mutated list:   [4.0, 8, 10.8, 3.3, 5.2]

## Nested Lists

In [35]:
# a list of different dinners available at a fancy party
# this list has 4 elements, each of which is a list of 3 elements
# the indentation is just for human readability
dinner_options = [
    ["chicken", "mashed potatoes", "mixed veggies"],
    ["steak", "seasoned potatoes", "asparagus"],
    ["fish", "rice", "green beans"],
    ["portobello steak", "rice", "green beans"]
]

In [36]:
dinner_options

[['chicken', 'mashed potatoes', 'mixed veggies'],
 ['steak', 'seasoned potatoes', 'asparagus'],
 ['fish', 'rice', 'green beans'],
 ['portobello steak', 'rice', 'green beans']]

In [43]:
len(dinner_options)   # 4
fish_option = dinner_options[2]  # ["fish", "rice", "green beans"]
print(fish_option)

# fish_option is a list, so can reference its elements by index
print(fish_option[0])  # "fish"

['fish', 'rice', 'green beans']
fish

In [44]:
# Access the 2th element's 0th element
print(dinner_options[2][0])  # "fish"

fish

## Nested Loops and Nested Lists

In [45]:
# a simple table of values
table = [ ['aa','ab','ac','ad'],
          ['ba','bb','bc','bd'],
          ['ca','cb','cc','cd'] ]

In [48]:
##Find the 'bd' element
row = 1  # cells starting with 'b'
col = 3  # cells ending with 'd'
table[row][col]  # "bd", the cell at row/col

'bd'

In [49]:
##equivalent to
table[1][3]

'bd'

In [50]:
##loop through whole list and print all elements
for row in range(len(table)):  # for each row (or for i in range...)
    for col in range(len(table[row])):  # for each col of that row (or for j in...)
        print(table[row][col])  # access ith row, jth column

aa
ab
ac
ad
ba
bb
bc
bd
ca
cb
cc
cd